.background-wrapper{
    background-image: url(../images/background.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.link{
    text-decoration: none;
}

.menu{
    height: 58px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
}

.header-logo{
    font-weight: 700;
    font-family: 'Ubuntu';
    text-decoration: none;
    line-height: 22px;
    font-size: 22px;
    color: white;
    margin-top: 18px;
    margin-left: 79px;
}

.header-logo:hover{
    color: #3CB878;
    transition: all 0.5s;
}

.first-icon{
    margin-left: 860px;
}

.header-icon{
    margin-right: 25px;
    align-self: center;
}

.header-icon:hover path{
    fill: #3CB878;
    transition: all 0.5s;
}

.welcome{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: 'Ubuntu';
    font-weight: 400;
    line-height: 14px;
    margin-top: 18px;
    position: relative;
    margin-left: 28px;

}

.welcome::before{
    content: '';
    width: 1px;
    height: 18px;
    position: absolute;
    left: -27px;
    background-color:rgba(255, 255, 255, 0.9);
}

.header-menu-link{
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

.header-menu-link:hover{
    color: #3CB878;
    transition: all 0.5s;
}

.main-window-wrapper{
    margin: 0 auto;
    /*Тут за логікою мав би бути position:relative але DevTools не бачив його висоту, 
    не розумію чому, буду вдячний за відповідь. Також пробував height: calc(100vh-58px) - теж не спрацювало.*/
}

.main-window{
    width: 325px;
    height: 550px;
    background-color: white;
    padding: 31px 60px 38px 60px;
    align-self: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
    /*Спробував помістити цей блок у флексбокс і вирівняти за допомогою justify-content та align-items. По X вирівнялось, а по Y - ні. Буду вдячний за відповідь.*/
}

.signup{
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    font-family: 'Ubuntu';
}

.signup::before{
    content: "";
    width: 18px;
    height: 18px;
    background-color: rgba(60, 184, 120, 1);
    position: absolute;
    top: 29px;
    left: 0;
}

.login{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-left: 210px;
    font-family: 'Ubuntu';
    color: #3CB878;
}

.login:hover{
    text-decoration: underline;
    color: rgba(1, 129, 63, 1);
}

.btn{
    width: 160px;
    height: 48px;
    border-radius: 4px;
    display: flex;
    border: 0;
    padding: 12px 22px 17px;
    text-align: center;
}

.btn:hover{
    cursor: pointer;
}

.auth-btns{
    display: flex;
    flex-direction: row; 
    margin: 13px 0 34px 0;
}

.fb-text{
    padding-left: 18px;
    margin-left: 13px;
}

.ggl-text{
    padding-left: 30px;
    margin-left: 7px;
}

.auth-btn-text{
    position: relative;
    font-family: 'Ubuntu';
    font-size: 16px;
    line-height: 16px;
    color: white;
    display: block;
    text-align: center;
    margin-top: 3px;
}

.auth-btn-text::before{
    content: '';
    width: 1px;
    height: 28px;
    position: absolute;
    left: 0px;
    top: -7px;
    background-color: rgba(43, 13, 9, 0.1);
}

.fb-btn{
    background-color: #305DB8;
    margin-right: 5px;
}

.fb-btn:hover{
    background-color: rgba(2, 34, 99, 1);
    transition: all 0.5s;
}

.ggl-btn{
    background-color: #DF4A32;
    align-self: flex-end;
}

.ggl-btn:hover{
    background-color: rgba(171, 31, 9, 1);
    transition: all 0.5s;
}

.or-wrapper{
    display: flex;
    position: relative;
    font-family: 'Ubuntu';
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    justify-content: center;
}

.or{
    position: relative;
    font-family: 'Ubuntu';
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: rgba(132, 132, 132, 1);
}
 
.or::before{
    position: absolute;
    content: "";
    width: 152px;
    height: 1px;
    background-color: rgba(242, 242, 242, 1);
    align-self: center;
    left: -152px;
    top: 7px;
}

.or::after{
    position: absolute;
    content: "";
    width: 152px;
    height: 1px;
    background-color:rgba(242, 242, 242, 1);
    align-self: center;
    right: -152px;
    top: 7px;
}

.form{
    display: block;
    width: 325px;
}

.input{
    width: 305px;
    margin-top: 16px;
    border: #F2F2F2 1px solid;
    border-radius: 2px;
    padding: 16px 0 15px 20px;
    font-family: 'Ubuntu';
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
}

input:focus:not(.checkbox){
    box-shadow:  0 3px rgba(0, 0, 0, 0.21);
}

.checkbox{
    display: inline-block;
    margin: 11px 11px 0 0;
}

.agreement{
    display: inline-block;
}

.terms-link{
    color: #3CB878;
}

.terms-link:hover{
    text-decoration: underline;
    color: rgba(1, 129, 63, 1);
}

.submit-btn{
    width: 324px;
    height: 46px;
    background-color: rgba(60, 184, 120, 0.8);
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: white;
    font-family: 'Ubuntu';
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
}

